:root {
  --main-blue: #1A7DF0;
  --main-white: #FFFFFF;

  --additional-yellow: #FFE711;
  --additional-blue-dark: #005BC5;
  --additional-black: #333333;
  --additional-yellow-dark: #F9D100;
}

.conteiner {
  padding: 0 calc(50vw - 800);
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--additional-black);
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h3, h4, h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

a {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: 0.2s;

  &:hover, &:focus {
    color: var(--main-blue);
  }
}

button {
  transition: 0.2s;
}

.button_1 {
  border-radius: 100px;
  padding: 15px 68px;
  background: var(--additional-yellow);

  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--additional-black);

  &:hover, &:focus {
    background: var(--additional-yellow-dark);

    font-weight: 500;
  }
}

.button_2 {
  border-radius: 100px;
  padding: 15px 68px;
  background: var(--main-blue);

  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: var(--main-white);

  &:hover, &:focus {
    background: var(--additional-blue-dark);
  }
}

.button_3 {
  border: 1px solid var(--main-blue);
  border-radius: 100px;
  padding: 15px 68px;

  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--additional-black);

  &:hover, &:focus {
    color: var(--main-blue);
  }
}

.button_4 {
  border: 1px solid var(--additional-black);
  border-radius: 100px;
  padding: 10px 25px;

  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--additional-black);

  &:hover, &:focus {
    color: var(--main-blue);
  }
}

.button_5 {
  border: 1px solid var(--main-white);
  border-radius: 100px;
  padding: 15px 68px;

  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: var(--main-white);

  &:hover, &:focus {
    border: 1px solid var(--additional-yellow);
    color: var(--additional-yellow);
  }
}