.header {
    padding: 20px;
    &__left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
  
      .header__logo {
        max-height: 70px;
      }
  
      .header__socials {
        display: flex;
        gap: 18px;
        align-items: center;
        .social {
          width: 25px;
          height: 24px;
          color: #333;
          transition: color 0.3s;
  
          &:hover {
            color: #1a7df0;
          }
        }
      }
  
      .header__contacts {
        display: flex;
 
        gap: 35px;
        font-size: 14px;
        text-align: right;
  
        .icon {
          width: 21.71px;
          height:  21.71px;
          margin-right: 5px;
        }
  
        .phone, .address,  .lang-switch {
          font-weight: 400;
          font-size: 18px;
          display: flex;
          align-items: center;
          gap: 5px;
        }
  
      }
    }
  
    &__nav {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      border-top: 1px solid #333;
      padding-top: 10px;


      .icon {
        width: 21.71px;
        height:  21.71px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #333333;
        font-weight: 500;
        font-size: 20px;
        transition: color 0.3s;
  
        &:hover,
        &.active {
          color: #1a7df0;
        }
      }
    }
  }




  .burger {
    display: none;
    font-size: 32px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    padding: 30px 20px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: right 0.3s ease;
    z-index: 1000;
  
    .close {
      font-size: 26px;
      align-self: flex-end;
      cursor: pointer;
    }
  
    &__nav {
      display: flex;
      flex-direction: column;
      gap: 18px;
  
      a {
        font-size: 18px;
        color: #222;
        text-decoration: none;
        padding-left: 100px;
      }
    }
  
    &__footer {
      margin-top: auto;
      font-size: 14px;
      .socials {
        display: flex;
        gap: 10px;
      }
      .contacts {
        margin-top: 15px;
      }
    }
  }
  #menu-toggle:checked ~ .mobile-menu {
    right: 0px;
  }
  
  @media (max-width: 768px) {

  }