@media screen and (max-width: 1450px) {
    .conteiner {
      padding: 0 calc(50vw - 350px);
    }
  }
@media screen and (max-width: 700px) {
    .conteiner {
      padding: 0 calc(50vw - 220px);
    }  
    .header {
        padding: 15px;
      
        &__left,
        &__top {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }
      
        .header__socials {
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 12px;
        }
      
        .header__contacts {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
      
        .phone,
        .address,
        .lang-switch {
              font-size: 16px;
            }
        }
      
        &__nav {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            padding-top: 15px;
            border-top: 1px solid #ccc;
      
        a {
              font-size: 18px;
              justify-content: flex-start;
        }
      }
  }
  .hero__content h1 {
    font-size: 38px;
}
.hero__content p {
    font-size: 16px;
}
  .marquee{
    padding: 30px 0;
  
  &__item {
    font-size: 22px;
}}
.about-intro{
    &__title {
    font-size: 28px;
}

  &__left p {
    margin: 0 0 10px 0;
    font-size: 24px;
}
    &__right p {
    font-size: 16px;
}


 }
 .goals {
    padding: 20px 0;
    &__text-block h2 {
    font-size: 28px;
}
    &__list li {
    font-size: 16px;
}
 }

.numbers{
    &__title{
    margin: 20px 0 0 0;
    font-size: 28px;
}
    &__text-left{
        font-size: 16px;
    }
    &__text-right{
        font-size: 24px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }
    &__item {
        h2 {
          font-size: 28px;
        }
    
        p {
          font-size: 16px;
        }
      }
}
.video-block{
    &__video img{
        width: 460px;
    }
    &__content {
    
        h3 {
          font-size: 24px;
        }
    
        p {
          font-size: 16px;
        }
      }
}
}
@media screen  and (max-width: 490px){

    .conteiner {
      padding: 0 calc(50vw - 160px);
    }
    .video-block{
      &__video img{
          width: 320px;
      }
  }
}  