.numbers {
    padding: 0;
    position: relative; 
    &::before {
        content: "";
        position: absolute;
        top: 300px;
        left: -50px;
        width: 400px;
        height: 400px;
        background: #FFE711;
        border-radius: 50%;
        opacity: 0.3;
        filter: blur(70px); 
        z-index: 0;
      }
    &__title {
      text-align: center;
      font-size: 42px;
      font-weight: 400;
      margin-bottom: 40px;
    }
  
    &__text {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
      
        &-left {
          flex: 1 1 47%;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.5;
        }
      
        &-right {
          flex: 1 1 50%;
          display: flex;
          align-items: center;
          font-size: 30px;
          font-weight: 700;
        }
      }
  
    &__grid {
      padding: 0 calc(50vw - 550px);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
  
    &__item {
      h2 {
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        color: #333;
      }
    }
  }